*.iml
.gradle
/local.properties
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
.DS_Store
/build
/captures
.externalNativeBuild
/SharedCode/src/commonMain/kotlin/api/Key.kt
